$line-gap: 12px;

.portfolio {
  max-width: 1300px;
  margin: 0px auto;
  padding: 0px 20px;
  margin-bottom: 100px;

  display: block;
  position: relative;
}

.project {
  display: inline-block;
  vertical-align: top; 
  width: calc(33.33% - 2px);
  border-left: 1px solid #333;
  margin-top: $line-gap * 2;
  // background-color: #f7f7f7;

  .project-content {
    width: calc(100% - 2*$line-gap);
    margin-left: $line-gap;
    height: 100%;
  }
  .project-content .tag {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 7px 0px;
    font-size: 13px;
    color: #333;
  }  
  .project-content .hed {
    padding: 16px 0px;
    font-size: 20px;
  }  
  .project-content img {
    width: 100%;
    cursor:pointer;
    // height: 100%;
  }  

  @media (max-width: 1000px) {
    width: calc(50% - 2px);
  }

  @media (max-width: 800px) {
    width: 100%;
  }
}


